.lead__pic-vector {
  position: absolute;
  width: 95%;
  top: 90px;
  left: 23px;
  z-index: 2;
}

@media screen and (max-width: 1279px) {
  .lead__pic-vector {
    top: 85px;
    left: 21px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__pic-vector {
    top: 71px;
    left: 18px;
  }
}

@media screen and (max-width: 768px) {
  .lead__pic-vector {
    top: 29px;
    left: 8px;
  }
}
