.lead__pic-vector {
  position: absolute;
  width: 937px;
  height: 263px;
  top: 128px;
  left: 23px;
  z-index: 2;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__pic-vector {
    width: 884px;
    height: 248px;
  }
}
