.header__lang-link {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.15;
  text-decoration: none;
  transition: opacity 0.3s;
}
.header__lang-link:hover {
  opacity: 80%;
}
.header__lang-link:focus {
  text-decoration: underline;
}
.header__lang-link:first-of-type {
  margin-right: 18px;
}
