.cover__link {
  display: block;
  text-decoration: none;
  text-align: center;
  background: rgba(42, 44, 47, 0.3);
  padding: 245px 312px;
  position: relative;
  z-index: 1;
}

.cover__link:hover {
  background: rgba(42, 44, 47, 0.8);
}


@media screen and (max-width: 1279px) {
  .cover__link {
    padding: 195px 232px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    padding: 115px 104px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    padding: 33px 16px;
  }
}
