.place__title {
  margin: 0;
  padding: 0;
  min-width: 460px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: left;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__title {
    min-width: 440px;
  }
}
