.page {
  background-color: #2A2C2F;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1279px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    max-width: 320px;
  }
}

