.cover__subtitle {
  margin: 32px 0 0;
  padding: 0;
  position: static;
  z-index: 2;
  width: 360px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.cover__subtitle > a {
  color: #ffffff;
  text-decoration: none;
}
