.header {
  max-width: 1184px;
  min-height: 52px;
  box-sizing: border-box;
  padding: 0;
  margin: 28px auto 56px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
}

@media screen and (max-width: 1279px) {
  .header {
    margin-bottom: 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    margin-bottom: 48px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 16px auto 48px;
    max-width: 288px;
    min-height: 42px;
    padding-top: 16px;
  }
}
