.margin-m {
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .margin-m {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .margin-m {
    margin-bottom: 64px;
  }
}
