.website {
  max-width: 484px;
}

@media screen and (max-width: 1279px) {
  .website {
    max-width: 456px;
  }
}

@media screen and (max-width: 1024px) {
  .website {
    max-width: 352px;
  }
}

@media screen and (max-width: 768px) {
  .website {
    max-width: 288px;
  }
}
