.website {
  width: 484px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .website {
    width: 456px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .website {
    width: 352px;
  }
}

@media screen and (max-width: 768px) {
  .website {
    width: 288px;
  }
}
