.cover {
  width: calc(100% - 2 * 48px);
  padding: 0;
  background: url(../../images/cover/__background-xl.jpg) no-repeat center center / cover;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    background: url(../../images/cover/__background-l.jpg) no-repeat center center / cover;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    width: 100%;
    background: url(../../images/cover/__background-m.jpg) no-repeat center center / cover;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 100%;
    background: url(../../images/cover/__background-s.jpg) no-repeat center center / cover;
  }
}
