.lead__images {
  position: relative;
  width: 984px;
  height: 615px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__images {
    width: 928px;
    height: 580px;
  }
}

