.website__link {
  width: 484px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.3s;
}
.website__link:hover {
  opacity: 80%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .website__link {
    width: 456px;
  }
}
