.footer {
  width: 100%;
  min-height: 18px;
  box-sizing: border-box;
  display: inline-grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 48px 24px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: block;
    min-width: 186px;
    min-height: 310px;
    padding: 0 16px 24px;
  }
}

