.footer {
  max-width: 1184px;
  min-height: 18px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 0 24px;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: 186px;
    min-height: 310px;
    padding: 0;
    margin: 0 16px 24px;
  }
}

